@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/library-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(179, 179, 179);
  background-blend-mode: multiply;
}
