@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/library-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(130, 130, 130);
  background-blend-mode: multiply;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toast {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
