@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/library-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(130, 130, 130);
  background-blend-mode: multiply;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toast {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.map {
  height: 400px;
}

@media screen and (min-width: 300px) {
  .map {
    width: 280px;
  }
}

@media screen and (min-width: 400px) {
  .map {
    width: 360px;
  }
}

@media screen and (min-width: 750px) {
  .map {
    width: 560px;
  }
}
